<!doctype html>
<html>
<head>
    <title>This is my blog - {% block title %}{{ Title }}{% endblock %}</title>
    <link rel="stylesheet" href="/style.css" type="text/css" media="screen">
</head>

<body>
    <div id="wrapper">
        <header>
            <h1><a id="go-home" href="/" title="My Blog">This is my blog.</a></h1>
        </header>

        {% block content %}{% endblock %}

        <footer id="bottom">The End.</footer>
    </div>

    <script>
        setTimeout(function() {
            document.getElementById('go-home').className = 'fade'
        }, 5000);
    </script>
    {% block scripts %}{% endblock %}
</body>

